<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Log Monitoring</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>NIK</ion-label>
      <ion-label>{{data.nik}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-label>{{data.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tgl Lahir</ion-label>
      <ion-label>{{data.tgl_lahir}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tgl Positif</ion-label>
      <ion-label>{{data.tgl_positif}}</ion-label>
    </ion-item>
  </ion-list>

<ion-item>
  <ion-label *ngFor="let col of column">{{col.label}}</ion-label>
</ion-item>

  <ion-list>
    <ion-item *ngFor="let log of logs;let i=index">
      <ion-label>{{log.heart_rate}}</ion-label>
      <ion-label>{{log.spo2 == 999 ? "-":log.spo2}}%</ion-label>
      <ion-label>{{log.body_temperature}}&deg;C</ion-label>
      <ion-label>{{log.formattedtime}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
