<ion-header>
  <ion-toolbar>
    <ion-title>Form Laporan Harian</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="addQuestion()"
        >Tambah Pertanyaan</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label slot="start">Pertanyaan</ion-label>
    <ion-label slot="end">Jawaban</ion-label>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let f  of form;let i = index;">
      <ion-label>{{(i+1)}}. {{f.question}}</ion-label>
      <ion-item *ngFor="let opt of f.option">
        <ion-label color="medium">{{opt.label}}</ion-label>
      </ion-item>
      <ion-button fill="clear" color="danger" (click)="deleteQuestion(f.id)"
        ><ion-icon name="trash"></ion-icon
      ></ion-button>
      <ion-button
        fill="clear"
        color="primary"
        (click)="editQuestion(f,f.nomor || (i+1))"
        ><ion-icon name="pencil"></ion-icon
      ></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
