<ion-header>
  <ion-toolbar>
    <ion-title>Request Reset Password Pasien</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">
    <ion-row class="first-row">
      <ion-col size="2"><b>NIK</b></ion-col>
      <ion-col size="3"><b>Nama</b></ion-col>
      <ion-col size="5"><b>Deskripsi</b></ion-col>
      <ion-col size="2"><b>Action</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let list of requestlist; index as i">
      <!-- <ion-col>{{ i + 1 }}</ion-col> -->
      <!-- <ion-item> -->
      <!-- <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Label</ion-label> -->
      <ion-col size="2">{{list.detail.nik}}</ion-col>
      <ion-col size="3">{{list.detail.name}}</ion-col>
      <ion-col size="5">{{list.description}}</ion-col>
      <ion-col size="2">
        <ion-button
          size="small"
          color="primary"
          (click)="resetPassword(list)"
          fill="clear"
          >Reset</ion-button
        >
        <ion-button
          size="small"
          fill="clear"
          color="danger"
          (click)="closeResetPassword(list)"
          >Close</ion-button
        >
      </ion-col>
      <!-- </ion-item> -->
    </ion-row>
  </ion-grid>

  <ion-label
    *ngIf="requestlist.length == 0"
    color="secondary"
    class="ion-align-self-center"
    >Belum ada permintaan reset password</ion-label
  >
</ion-content>
